@layer utilities {
  .scrollbar {
    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: #344c75 #f3f4f6; /* thumb, track */
  }

  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: #f3f4f6; /* gray-100 */
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #9ca3af; /* gray-400 */
    border-radius: 9999px;
    border: 2px solid #f3f4f6;
  }

  /* Dark mode */
  .dark .scrollbar {
    scrollbar-color: #4b5563 #1f2937; /* gray-600 thumb, gray-800 track */
  }
  .dark .scrollbar::-webkit-scrollbar-track {
    background: #1f2937; /* gray-800 */
  }
  .dark .scrollbar::-webkit-scrollbar-thumb {
    background-color: #4b5563; /* gray-600 */
    border-color: #1f2937;
  }
}
