@layer utilities {
  .scrollbar {
    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: #344c75 #f3f4f6;
  }

  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: #f3f4f6;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #9ca3af;
    border-radius: 9999px;
    border: 2px solid #f3f4f6;
  }

  /* Dark mode */
  .dark .scrollbar {
    scrollbar-color: #4b5563 #1f2937;
  }
  .dark .scrollbar::-webkit-scrollbar-track {
    background: #1f2937;
  }
  .dark .scrollbar::-webkit-scrollbar-thumb {
    background-color: #4b5563;
    border-color: #1f2937;
  }
}
